<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/Materialize/dist/js/materialize.min.js"></script>
    <script src="/static/lib/underscore/underscore-min.js"></script>
    <script src="/static/lib/react/react.min.js"></script>
    <script src="/static/lib/react/react-dom.min.js"></script>
    <script src="/static/lib/babel/browser.min.js"></script>
    <script src="/static/lib/marked/marked.min.js"></script>
    <link rel="stylesheet" href="/static/lib/Materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.css.map">

    <script src="/static/js/main.js"></script>
    <script type="text/babel" src="/static/js/helloworld.js"></script>
    <script type="text/babel" src="/static/js/tutorial.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Notes</title>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/babel" src="scripts/example.js"></script>
    <script type="text/babel">
      // To get started with this tutorial running your own code, simply remove
      // the script tag loading scripts/example.js and start writing code here.
    </script>
    <div id="example"></div>
    <div class="container" id="new">
    </div>
    <div class="row" id="notes">
    </div>



  </body>
</html>
