<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/lib/underscore/underscore-min.js"></script>
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.css.map">

    <script src="/static/js/main.js"></script>

    <title>TEMPLATE</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#"></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    <div class="container">
      {% with flashes = get_flashed_messages(category_filter=['error']) %}
        {% if flashes %}
          <div class="alert alert-warning">
            {% for flash in flashes %}
              <h4>{{ flash }}</h4>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    </div>

    <div class="container">
      {% with flashes = get_flashed_messages(category_filter=['info']) %}
        {% if flashes %}
          <div class="alert alert-info">
            {% for flash in flashes %}
              <h4>{{ flash }}</h4>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    </div>

    <div class="container">
        <!--main content is here-->
    </div>
  </body>
</html>
